.excalidraw {
  .Island {
    --padding: 0;
    box-sizing: border-box;
    background: var(--island-bg-color);
    box-shadow:
      0 0 0 1px var(--color-border-outline-variant),
      var(--shadow-island);
    border-radius: calc(var(--border-radius-lg) + 0.1rem);
    padding: calc(var(--padding) * var(--space-factor));
    position: relative;
    transition: box-shadow 0.5s ease-in-out;

    &.zen-mode {
      box-shadow: none;
    }
  }
}
